<a href="https://colab.research.google.com/github/JannaTarek/assignment-1/blob/main/Copy_of_python_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create Arrays
A = np.array([10, 20, 30, 40, 50])
B = np.array([5, 4, 3, 2, 1])

# 2. Perform Operations
addition = A + B
subtraction = A - B
multiplication = A * B
division = A / B

# 3. Apply NumPy Functions
mean_A = np.mean(A)
max_A = np.max(A)
min_A = np.min(A)
dot_product = np.dot(A, B)
reshaped_A = A.reshape((5, 1))

# 4. Print Results
print("Array A:", A)
print("Array B:", B)
print("A + B:", addition)
print("A - B:", subtraction)
print("A * B:", multiplication)
print("A / B:", division)
print("Mean of A:", mean_A)
print("Max of A:", max_A)
print("Min of A:", min_A)
print("Dot product of A and B:", dot_product)
print("Reshaped A (5x1):\n", reshaped_A)

Array A: [10 20 30 40 50]
Array B: [5 4 3 2 1]
A + B: [15 24 33 42 51]
A - B: [ 5 16 27 38 49]
A * B: [50 80 90 80 50]
A / B: [ 2.  5. 10. 20. 50.]
Mean of A: 30.0
Max of A: 50
Min of A: 10
Dot product of A and B: 350
Reshaped A (5x1):
 [[10]
 [20]
 [30]
 [40]
 [50]]

In [ ]:
 # Import the pandas library and assign it to the alias 'pd'

# 1. Create a DataFrame
students_data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [20, 22, 19, 21, 20],
    'Grade': ['A', 'B', 'A', 'C', 'B'],
    'Marks': [85, 78, 92, 65, 74]
})

# 3. Access Data

# a. Display the first 3 rows of the DataFrame
print("First 3 rows:")
print(students_data.head(3))

# b. Select and display only the "Name" and "Marks" columns
print("\nName and Marks columns:")
print(students_data[['Name', 'Marks']])

# c. Filter and show the students who have a grade of 'A'
print("\nStudents with grade 'A':")
print(students_data[students_data['Grade'] == 'A'])

First 3 rows:
      Name  Age Grade  Marks
0    Alice   20     A     85
1      Bob   22     B     78
2  Charlie   19     A     92

Name and Marks columns:
      Name  Marks
0    Alice     85
1      Bob     78
2  Charlie     92
3    David     65
4      Eva     74

Students with grade 'A':
      Name  Age Grade  Marks
0    Alice   20     A     85
2  Charlie   19     A     92